/********************************************
http://meyerweb.com/eric/tools/css/reset/ 

v2.0 | 20110126
License: none (public domain)
********************************************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/********************************************
Base colors
********************************************/
:root {
	--primary-100:#0D6E6E;
    --primary-200:#4a9d9c;
    --primary-300:#afffff;
    --accent-100:#FF3D3D;
    --accent-200:#ffe0c8;
    --text-100:#FFFFFF;
    --text-200:#e0e0e0;
    --bg-100:#0D1F2D;
    --bg-200:#1d2e3d;
    --bg-300:#354656;   
}

/********************************************
Basic configuration for the body and footer
********************************************/
body {
	margin: 0 auto;
	padding: 30px 30px 20px;
    font-family: 'Rubik', sans-serif;
	background: var(--bg-100);
	background: -webkit-linear-gradient(to top, var(--bg-300), var(--bg-100));
	background: linear-gradient(to top, var(--bg-300), var(--bg-100));
}

footer {
	color: var(--accent-200);
	text-align: right;
}

/********************************************
Global configuration styles
********************************************/
h1 {
	font-size: 1.8rem;
	font-weight: 600;
	color: var(--accent-200);
	margin-bottom: 30px;
}

h2 {
	font-size: 1.5rem;
	font-weight: 500;
	color: var(--accent-200);
	margin-bottom: 20px;
}

h3 {
  	font-size: 1.2rem;
	font-weight: 400;
	color: var(--accent-200);
}

p, li, a, summary, details {
  	font-size: 1rem;
	text-decoration: none;
	font-weight: lighter;
	color: var(--text-200);
}

/********************************************
Layout: sidebar + section
********************************************/
main {
	display: flex;
	min-height: 88vh;
	padding: 20px 0px;
	margin-top: 10px;
	border-top: 1px solid var(--accent-100);
}

section {
	flex: 1;
	box-sizing: border-box;
}

aside {
	flex: 0 0 350px;
	box-sizing: border-box;
}
aside nav {
	border-left: 1px solid var(--accent-100);
	padding-left: 10px;
}
aside li {
	margin: 10px 0;
}
aside h2 {
	margin-bottom: 20px;
}
aside nav a:hover { 
	color: var(--primary-300);
	text-decoration: underline;
}

/********************************************
Layout: section
********************************************/
main > section > section:not(:first-of-type) {
  margin-top: 20px;
}

section h3 {
	margin: 20px 0 5px;
}
section p, li {
	margin: 6px 0;
}

summary {
  display: inline-block;
  cursor: pointer;
  margin: 10px 0;
}

details[open] > summary {
  font-weight: 600;
  font-style: italic;
  font-size: 1.1rem;
}

/********************************************
Custom styles
********************************************/
.italics {
	font-style: italic;
}

.card {
	border-radius: 10px;
	background-color: var(--primary-100);
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25), 0 4px 10px rgba(0, 0, 0, 0.15);
 	transition: box-shadow 0.25s ease, transform 0.25s ease;
}
.card:hover {
	transform: translateY(-3px);
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3), 0 6px 18px rgba(0, 0, 0, 0.2);
}

.function,
.method {
    width: 90%;
    max-width: 90%;
    box-sizing: border-box;
    padding: 30px;
}

.method {
    margin-top: 20px;
}

.method .declared {
    font-weight: 600;
    padding-bottom: 10px;
}
